<a class="linkPreviewCard" href="{{targetURL}}" target="_blank" rel="noopener noreferrer">
	{{#imageURL}}
	<span class="linkPreviewCardIcon"><img src="{{imageURL}}" alt=""></span>
	{{/imageURL}}
	<span class="linkPreviewCardBody">
		<span class="linkPreviewCardTitle">{{title}}</span>
		{{#subtitle}}
		<span class="linkPreviewCardSubtitle">{{subtitle}}</span>
		{{/subtitle}}
	</span>
</a>
